
/* HOW TO ACCESS HTML ELEMENT */
body {
    font-family: Arial, sans-serif;
}
/* HOW TO ACCESS A CLASS */
.section-header {
    color: blue;
    text-transform: uppercase;
}

h1 {
    font-family: "Times New Roman";
    color:red;
}

.fancy-header{
    color: purple;
    text-decoration: underline;

}

.container-heading, #section-heading{
    font-size: 10px;
}

.container-heading{

}

/*Descendant Selector*/
#container h2{

}

/* Direct Child */
#container>h1{
    color: purple;
}

/* #container>h1:nth-child(2){
    color:
    }
 */

/* combining selectors */
h1.container-heading{
    color:red;
}

/* Pseudo Class */

