body {
    font-family: Arial, sans-serif;
}

.section-header {
    color: blue;
    text-transform: uppercase;
}

h1 {
    font-family: "Times New Roman";
    color:red;
}

.fancy-header{
    color: purple;
    text-decoration: underline;

}