* {
    box-sizing: border-box;/* LINKS WIDTH AND HEIGHT TO PADDING AND BORDER, IF YOU SET BOX-SIZING: BORDER -BOX ON AN ELEMENT, NOW PADDING AND BORDER ARE INCLUDED IN WIDTH AND HEIGHT!!*/
}
body{     /*BODY ELEMENT CONTAINS ALL THE CONTENTS OF AN HTML DOCUMENT*/
    margin: 0;
}

nav {
    background: rgb(193,193,193);
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-family: Verdana;
    padding: 5px;
}
nav li:nth-of-type(5){
    margin-left: auto;
    margin-left: 500px;
}
nav li:nth-of-type(6){
    display: flex;

}
ul{
    list-style: none;
    padding: 0px;
    margin-left: auto;
    display: flex; /* PUTS WORDS SIDE BY SIDE */

}



